* {
  background-color: rgb(245, 255, 255);
}
.app {
  display: flex;
  flex-direction: column;
}
.app > h3 {
  padding: 10px;
  font-weight: 500;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: rgb(247, 246, 244);
}
.app > h3 > a{
  text-decoration: none;
  background-color:  rgb(247, 246, 244);
  color:  rgb(63, 63, 63);
  cursor: pointer;
}
.app>h3:hover{
  transition: transform 0.2s ease-in-out;
  transform: scale(1.05);
}

.name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  flex-wrap: wrap;
}
.name > h1 {
  padding: 20px;
  font-weight: 500;
  font-size: 80px;
  font-family: monospace;
  color: rgb(49, 49, 49);
  text-shadow: 2px 2px 4px #b8b4b4;
}
.name > img {
  border-radius: 200px;
  width: 300px;
  height: 300px;
  padding: 20px;
  box-shadow: 2px 2px 3px #7a7a7a;
}
@media (max-width: 900px) {
  .name {
    flex-direction: column;
  }
}

.endline{
  padding: 30px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
