* {
  background-color: rgb(245, 255, 255);
}

.color-nav{
  background-color:rgb(247, 246, 244);
}
.nav-brand{
  text-shadow: 1px 2px  #ccccac;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-brand:hover{
  text-shadow: 1px 1px 2px #9cd7ff;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.05);
}
.endline {
  padding: 30px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
