.connect {
    margin: 0 50px 0 50px;
    padding: 30px 0 30px 0;
}
.connect > h1 {
    color: rgb(48, 46, 77);
    text-shadow: 5px 5px #e2e2df;
    font-size: min(max(32px, 4vw), 55px);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
